# 基础Flask依赖
Flask
Werkzeug
Jinja2

# 数据库ORM和连接池
SQLAlchemy
sqlalchemy-utils

# 数据库驱动
pymysql        # MySQL驱动
pyodbc         # SQL Server驱动
cx-Oracle      # Oracle驱动

# 工具库
python-dotenv
requests
pandas
numpy
xlrd           # 支持.xls文件读取
openpyxl       # 支持.xlsx文件读取

# 日志
loguru

pypinyin
cryptography
ollama

akshare
lib-pybroker