<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据分析网站</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/common/jquery-3.6.0.min.js') }}"></script>
</head>
<body>
    {# 引入头部组件 #}
    {% include 'components/header.html' %}
    
    <main>
        <div class="buttons-container">
            <a href="{{ url_for('index_db') }}" class="main-btn db-btn">表结构管理</a>
            <a href="{{ url_for('index_import') }}" class="main-btn import-btn">数据导入</a>
            <a href="{{ url_for('index_query') }}" class="main-btn query-btn">大数据分析</a>
            <a href="{{ url_for('index_file_upload') }}" class="main-btn upload-btn">文件上传</a>
        </div>
    </main>
    
    {# 引入底部组件 #}
    {% include 'components/footer.html' %}

    <script src="{{ url_for('static', filename='js/components/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html> 